@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    list-style: none;
    text-decoration: none;
}

*:placeholder-shown {
    color: whitesmoke;
}

body {
    background-color: #0f0f0f;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #f8ae10ef;
    z-index: -100;
}

.container-index {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/restaurant.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100svh;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 3rem;
    background-color: transparent;
    max-width: 1600px;
    z-index: 9999;
}

nav h1 {
    background-color: none;
    font-size: 4rem;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    padding: 0 1rem;
    font-size: 1.4rem;
}


.nav-links {
    position: relative;
}

.nav-links::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgba(248, 174, 16, 0.937);
    margin: auto;
    transition: 0.5s;
    left: 0;
    bottom: -10%;
}

.nav-links:hover::before {
    width: 100%;
}

.navbar-toggle {
    background: transparent;
    padding: 10px;
    cursor: pointer;
    border: none;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: whitesmoke;
    transition: all 0.3s ease-in-out;
}

.content-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.content-home h1 {
    font-size: 5.5rem;
    white-space: nowrap;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.content-home p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.content-home a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1rem 2rem;
    transition: 1s;
    position: relative;
}

.content-home a::before {
    position: absolute;
    content: "";
    width: 20%;
    height: 2px;
    top: 50%;
    left: 0%;
    background-color: white;
    transform: translateX(-60%);
    transition: 1s;
}

.content-home a::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 2px;
    top: 50%;
    right: 0%;
    background-color: white;
    transform: translateX(60%);
    transition: 1s;
}

.content-home a:hover::after,
.content-home a:hover::before {
    background-color: rgba(248, 174, 16, 0.937);
}

.content-home a:hover {
    background-color: rgba(248, 174, 16, 0.937);
    border: 1px solid transparent;
}

/* ----------------Customer Reviews ---------------- */
.reviews {
    padding-top: 5rem;
    padding-bottom: 3rem;
    width: 80%;
    margin: auto;
    text-align: center;
}

.reviews h2 {
    position: relative;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.reviews h2::after {
    position: absolute;
    content: "";
    width: 15%;
    height: 3px;
    background-color: rgba(248, 174, 16, 0.937);
    bottom: 0%;
    left: 65%;
}

.cust-cards {
    display: flex;
    justify-content: space-evenly;

}

.reviews p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.cust-cards img {
    width: 100%;
    display: block;
    border-radius: inherit;
}

.card {
    background-color: #22222271;
    color: white;
    padding: 3rem 1rem;
    border-radius: 0.5rem;
    border: 3px solid transparent;
    margin: 0 1.5rem;
    position: relative;
}

.card:hover {
    border: 3px solid rgba(248, 174, 16, 0.937);
    transition: 0.5s;
    cursor: pointer;
}

.card p {
    font-size: 1rem;
    margin: 1rem 0;
}

.card h3 {
    position: absolute;
    font-size: 1.35rem;
    font-weight: 600;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
}


/* ------------------------------About us----------------------- */
.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.822), rgba(4, 9, 30, 0.7)), url(../images/restaurant.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-bottom: 4rem;
}

.sub-header h1 {
    margin-top: 2rem;
    font-size: 3rem;
}

.About {
    width: 80%;
    margin: 9rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.About .content {
    flex-basis: 40%;
    text-align: left;
}

.About .content h1 {
    font-size: 2.3rem;
    font-weight: 600;
    margin: 1rem 0;
}

.About .content p {
    font-size: 1rem;
    margin: 0 0 2rem;
}

.About .content a {
    color: #f8ae10ef;
    text-decoration: none;
    border: 1px solid #f8af12ef;
    font-size: 1rem;
    padding: 1rem 2rem;
    transition: 1s;
    position: relative;
}

.About .content a::before {
    position: absolute;
    content: "";
    width: 20%;
    height: 2px;
    top: 50%;
    left: 0%;
    background-color: #f8ae10ef;
    transform: translateX(-60%);
    transition: 1s;
}

.About .content a::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 2px;
    top: 50%;
    right: 0%;
    background-color: #f8ae10ef;
    transform: translateX(60%);
    transition: 1s;
}

.About .content a:hover::after,
.About .content a:hover::before {
    background-color: #f8ae10ef;
}

.About .content a:hover {
    background-color: #f8ae10ef;
    color: white;
    border: 1px solid transparent;
}

.About .img {
    flex-basis: 40%;
    border: 2px solid #f8ae10ef;
    padding: 1rem;
}

.About .img img {
    width: 100%;
}

.owner {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.owner .about-img-border {
    flex-basis: 40%;
}

.owner .about-img-border img {
    width: 100%;
}

.owner .content {
    flex-basis: 40%;
    text-align: left;
}

.owner .content h1 {
    font-size: 2.3rem;
    font-weight: 600;
    margin: 1rem 0;
}

.owner .content p {
    font-size: 1rem;
    margin: 0 0 2rem;
}


.about-img-border {
    border: 2px solid #f8ae10ef;
    padding: 1rem;
}

/* ------------------------Gallery page ------------------------- */
.gallery {
    width: 80%;
    margin: auto;
    text-align: center;
}

.gallery h1 {
    font-size: 4rem;

}

.gallery-cards {
    display: flex;
    justify-content: space-evenly;
}

.image-box {
    margin: 1rem;
    flex-basis: 30%;
    padding: 1rem 1rem;
    border: 3px solid #f8ae10ef;
    outline: 3px solid #f8ae10ef;
    outline-offset: -10px;
}

.gallery-cards img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;

}



.gallery p {
    margin-bottom: .5rem;
    font-size: 1rem;
    font-weight: 300;
}


/* -------------------------- Menu -----------------------*/
.menu {
    width: 90%;
    margin: auto;
    text-align: center;
}

.menu-cards {
    display: flex;
    justify-content: space-evenly;
}

.menu h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.box span {
    position: absolute;
    background-color: #f8af10;
    padding: 1rem 1.1rem;
    border-radius: 60px;
    transform: translateX(-30px) translateY(-30px);
}

.box span i {
    font-size: 2rem;
}

.box {
    flex-basis: 20%;
    padding: 1rem;
    border-radius: 5px;
    transition: .4s ease-in-out;
    text-align: left;
}

.box:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #22222271;
    cursor: pointer;
}

.box img {
    width: 100%;
    display: block;
    aspect-ratio: 1/1;
}

/* ------------------ contact---------- */
.contact {
    width: 70%;
    margin: auto;
    text-align: center;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;

}

.contact .container {
    display: flex;
    background-color: black;
}

iframe {
    width: 100%;
}

.map {
    flex-basis: 65%;
}

.contact-info {
    flex-basis: 35%;
    padding: 0 1rem;
}

.contact-info h2 {
    margin-top: 2rem;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid whitesmoke;
}

.contact-info p {
    margin-top: 2rem;
    font-size: 1.2rem;
}

/* -------------------------- Enquiry ----------------------- */
.enquiry {
    width: 60%;
    margin: auto;
    text-align: center;
}

.enquiry h1 {
    font-size: 3rem;
}

.enquiry h3 {
    font-size: 1, 2rem;
    font-weight: 400;
    margin-bottom: 1.1rem;
}

.enquiry form {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    padding: 2rem 4rem;
    border-radius: 10px;

    box-shadow: 0 0 10px 0 rgba(233, 232, 232, 0.2);
}

.enquiry label {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.enquiry input {
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.enquiry textarea {
    width: 100%;
    background-color: transparent;
    padding: .5rem;
    font-size: 1.1rem;
    outline: none;
}

.enquiry form button {
    margin: 1rem 0;
    font-size: 1.2rem;
    cursor: pointer;
    padding: .5rem 1.5rem;
    background-color: #f8af12ef;
    border-radius: 10px;
    outline: none;
    border: none;
    align-self: flex-end;
    transition: 0.5s ease;
}

.enquiry form button:hover {
    scale: 1.1;
}

.underline {
    height: 2px;
    width: 100%;
    background-color: #f8ae10ef;
}

/* ---------------------- booking ----------------------- */
.booking {
    width: 70%;
    margin: auto;
    text-align: center;
}

.booking h1 {
    font-size: 2.7rem;
}

.booking h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

.booking-info {
    margin: 2rem auto;
    display: flex;
    border-radius: 10px solid;

}

.booking-info form {
    flex: 1;
    text-align: left;
}

.customer-details {
    display: flex;
    justify-content: space-between;
}

.customer-details section {
    width: 100%;
}

.customer-details section input {
    width: 90%;
    font-size: 1.3rem;
    padding: .3rem;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    outline: none;
    background-color: transparent;
}

.rest-extract {
    display: flex;
    margin: 1rem auto;
}

#country {
    font-size: 1rem;
    flex-basis: 30%;
    background: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

.date-booking {
    flex-basis: 30%;
    margin-left: 1rem;
}

.date-booking input {
    display: block;
    width: 100%;
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    font-size: 1rem;
}

#booking-date::-webkit-calendar-picker-indicator,
#booking-time::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#country option {
    background: #222;
    color: whitesmoke;
}


.booking .location textarea {
    margin: 1rem 0;
    width: 95%;
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    font-size: 1rem;
    padding: .5rem;
    aspect-ratio: 1/.3;
    outline: none;
}

.booking .location button {
    width: 95%;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: .5rem;
    background-color: #f8af12ef;
}

.booking-contact {
    border-left: 1px solid whitesmoke;
    padding-left: 2rem;
    text-align: right;
}

.booking-contact h1 {
    margin-bottom: 4rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid whitesmoke;
}

.booking-contact h2 {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

/* ---------------------footer --------------------- */
footer {
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 0 0;
    color: white;
    width: 100%;
}

footer .logo-end {
    margin-right: 2rem;
    padding: 1rem 3rem;
}

footer .logo-end h1 {
    margin-bottom: 1rem;
    line-height: 1.6;
    letter-spacing: 1px;
    cursor: pointer;
}

footer .logo-end p {
    margin-bottom: 1rem;
}

.icons-end {
    margin-top: 2rem;
}

.icons-end i {
    margin: 0 .5rem 0 0;
    font-size: 1.1rem;
    padding: .8rem;
    border-radius: 50%;
    border: 1px solid white;
    transition: all ease .7s;
}

.icons-end i:hover {
    background-color: #f8ae10ef;
}

.company-end,
.about-end,
.contact-end {
    margin-right: 2rem;
}

.company-end h3,
.about-end h3,
.contact-end h3 {
    margin-bottom: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.company-end h5,
.about-end h5,
.contact-end h5 {
    margin-bottom: .7rem;
    font-weight: 400;
    cursor: pointer;
    transition: all .5s ease;
}

footer h5:hover {
    color: #f8ae10ef;
}

/* --------------------copyright -----------------------*/
.copyright-sec {
    color: white;
    text-align: center;
    margin: 5rem 0 1rem;
}

@media (max-width: 1246px) {
    nav {
        padding: 1rem 2rem;
    }

    nav ul li {
        padding: 0 .4rem;
        font-size: 1.2rem;
    }

    nav ul li:last-child {
        margin: 0 1rem;
    }

    .card {
        padding: 2rem 1rem;
        margin: 0 .7rem;
    }

    .card h3 {
        font-size: .82rem;
    }

}


@media (max-width:880px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100svh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        z-index: 9999;
    }

    .navbar-menu.active {
        display: flex;

    }

    .navbar-toggle {
        display: block;
        z-index: 99999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .contact .container {
        flex-direction: column;
        text-align: left;
    }

    .contact-info {
        padding: 1rem 2rem;
    }

    .booking-info {
        flex-direction: column-reverse;
    }

    .booking-contact {
        border-left: none;
        padding-left: 0;
        padding-right: 2rem;
        margin: 2rem 0;
    }
}

@media (max-width: 800px) {

    .content-home h1 {
        font-size: 4rem;
    }

    .content-home p {
        font-size: 1.3rem;
    }

    .content-home a {
        font-size: 1rem;
    }

    nav {
        padding: 1rem 1rem;
    }

    nav ul li {
        padding: 0 .4rem;
        font-size: 1.1rem;
    }

    nav ul li:last-child {
        margin: 0 .8rem;
    }

    .reviews {
        width: 70%;
    }

    .cust-cards {
        flex-direction: column;
    }

    .card p {
        margin: 1.5rem 0;

    }

    .card {
        padding: 1rem .7rem;
        margin: 1rem 0;
    }

    .card h3 {
        font-size: 1.1rem;
    }

    .About {
        flex-direction: column;
    }

    .About .content {
        text-align: center;
    }

    .About a {
        display: none;
    }

    .owner {
        flex-direction: column;
    }

    .owner .content {
        text-align: center;
    }

    .gallery-cards {
        flex-direction: column;
    }

    .contact .container {
        flex-direction: column;
        text-align: left;
    }

    .contact-info {
        padding: 1rem 2rem;
    }

    .booking-info {
        flex-direction: column-reverse;
    }

    .booking-contact {
        border-left: none;
        padding-left: 0;
        padding-right: 2rem;
        margin: 2rem 0;
    }

    footer {
        flex-direction: column;
        margin: 0 5rem;
        text-align: left;
    }


    .logo-end,
    .company-end,
    .about-end,
    .contact-end {
        margin-top: .7rem;
        padding: 0 2rem;
    }
}

@media (max-width:550px) {


    .content-home h1 {
        font-size: 2.8rem;
    }

    .menu-cards {
        flex-direction: column;
    }

    .rest-extract {
        flex-direction: column;
        text-align: left;
        width: 95%;
        margin: 1rem 0;
    }

    .date-booking {
        margin-left: 0;
        margin-top: 1rem;
    }

    .booking-contact {
        text-align: left;
    }

}


@media (max-width:480px) {
    .navbar-container {
        padding: 0 1rem;
    }

    .navbar-container h1 {
        font-size: 1.7rem;
    }

    .navbar-menu li a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }
}

@media (max-width: 390px) {
    nav h1 {
        font-size: 2rem;
    }

    .content-home h1 {
        font-size: 1.7rem;
    }

    .content-home p {
        font-size: .8rem;
        margin: 1rem 0;
    }

    .content-home a {
        font-size: .8rem;
        padding: .7rem;
    }


    .reviews {
        width: 80%;
    }

    .reviews h2 {
        font-size: 1.6rem;
    }

    .reviews p {
        font-size: .9rem;
    }

    .card h3 {
        font-size: .9rem;
    }

    .contact h2 {
        font-size: 1.7rem;
    }

    iframe {
        height: 300px;
    }

}